body .kontainer  {
    background-color: lightgrey;
    width: 800px;
    margin: auto;
    padding: 60px;
}
body .kontainer header {
    background-color: lightgrey;
    
}

h1{
    font-size: 20px;
}

/* main{
    color: aliceblue;
} */