/* regler Endast för index.html */

.wanderer{
    background: black;
    color: white;
}

.wanderer .vimeo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

}

.wanderer .vimeo iframe{
    width: 100vw;
    height: 56.25vw;
    min-height: 100vw;
    min-width: 230vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.wanderer main{
    /* css trick för vertikal centrering */
    display: grid;
    align-items: center;
}

.Keppler196f h1{
    color: crimson;
}

.Keppler196f header nav a {
    color: crimson;
}
.Keppler196f header nav a, .Keppler196f nav a.active{
   border-bottom: 3px solid crimson;
}

