h1 {
    color: indigo;
    font-size: 90px;
    font-family: "Sevillana", cursive;

} 

h2 {
    color: crimson;
    font-size: 40px;     
    font-family: "Noto Sans JP", sans-serif;
}                            

p {                               
    color: darkblue;
    font-size: 15px; 
    font-family:'Times New Roman', Times, serif;
}               

a {
    color: blue;
}

body {

    background-color: lightskyblue;
    background-image: url("./bilder/taylor-van-riper-yQorCngxzwI-unsplash.jpg");
    background-size: cover;

}

