
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body{
    
    background-color: lightskyblue;

}

div {

    background-image: url("./bilder/nathan-cima-TDhpTIK-neM-unsplash.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding-left: 50px;
    padding-top: 100px;
    box-shadow: 2px 2px 2px 2px black;
    text-shadow: lightskyblue 4px 2px 4px;

}

h1 {
   
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    
      
}

h2 {

    font-family: "Sofadi One", system-ui;
        font-weight: 400;
        font-style: normal;
        
    

}

p {

    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
   
    

}